@use "../globals" as *;
@use "../parts/common" as *;

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  z-index: 10;
  width: 100%;
  background-color: $cBlack;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.8);

  @include mq() {
    height: 80px;
    padding: 0 40px;
  }

  &__logo {
    @include f_around(15, 700, 50, 15);

    @include mq() {
      @include f_around(20, false, false, false);
    }
  }
}

.gnav {
  display: none;

  @include mq() {
    display: block;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__link {
    position: relative;
    @include f_around(13, 700, 50, 13);
    display: inline-block;
    padding: 5px 0;
    transition: all 0.3s;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      width: 0;
      height: 3px;
      transform: translateX(-50%);
      transition: all 0.3s;
      background-color: $cWhite;  
    }

    &:hover::after {
      width: 100%;
    }
  }
}

/*--------------------------------
メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  position: relative;
  
  background-color: darkblue;

  &__inner {
    padding: 0 20px;

    @include mq() {
      padding: 0 40px;
    }
  }

  &__title {
    @include f_around(30, 700, 100, 36);

    @include mq() {
      @include f_around(40, false, false, false);      
    }
  }

  &__subtitle {
    @include f_around(16, 700, 80, 16);
    margin-top: 5px;

    @include mq() {
      @include f_around(20, false, false, false);
    }
  }

  &__text {
    @include f_around(14, false, false, 23.8);
    margin-top: 40px;

    @include mq() {
      @include f_around(16, false, false, 28.8);
    }
  }

  &__footer {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    z-index: 2;
  }

  &__scrolltext {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    color: $cWhite;
    font-size: 0.7rem;
    letter-spacing: 0.05em;

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      background-color: $cWhite;

      @include animation(
        $name: down-arrow-anime,
        $iteration-count: infinite,
        $duration: 1.5s,
        $timing-function: ease-in-out
      );
    }
  }
}

@keyframes down-arrow-anime {
	0% {
		height: 0;
    transform: translate(-50%, 0);
		opacity: 0;
	}
	30% {
		height: 30px;
		opacity: 1;
	}
	100% {
		height: 0;
    transform: translate(-50%, 50px);
		opacity: 0;
	}
}

/*--------------------------------
Works
---------------------------------*/
.works {

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    row-gap: 40px;
    
    @include mq() {
      padding: 60px 0;
      flex-direction: row;
      row-gap: 0;
    }

    &::after {
      position: absolute;
      bottom: -60px;
      left: -20px;
      width: calc(40px + 100%);
      height: 85%;
      z-index: -1;
      display: block;
      content: "";
      background-color: $cBgGray;
      transition: 4s all;
      opacity: 0;
      
      @include mq() {
        top: 50%;
        bottom: auto;
        left: auto;
        right: 0;
        width: 60%;
        height: 100%;
        transform: translateY(-50%);
      }
    }

    &.bg-active::after {
      opacity: 1;
    }
  }
  
  &__img-wrapper {
    width: 100%;
    overflow: hidden;
    /* 背景の透過を消す */
    background-color: $cBlack;
    
    @include mq() {
      width: 60%;
    }
  }

  &__desc {
    flex: 1;
    text-align: center;
    overflow: hidden;

    .section__body {
      @include mq(md) {
        margin-top: 40px;
      }
    }
  }

  &__link {
    margin-top: 30px;
  }
}

/*--------------------------------
Skill
---------------------------------*/
.skill {
  
  &__list {
    display: grid;
    row-gap: 35px;
    
    @include mq(md) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4%;
    }

    @include mq(lg) {
      row-gap: 75px;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;

    @include mq(lg) {
      column-gap: 25px; 
    }

    @include mq(xl) {
      column-gap: 30px;
    }
  }
  
  &__img {
    flex-basis: 50px;
    height: auto;
    opacity: 0;

    @include mq() {
      flex-basis: 60px;

      &:hover {
        @include animation(
          $name: skill-img-hover-vibrate,
          $duration: 0.3s,
          $timing-function: linear,
          $delay: 0s,
          $iteration-count: infinite,
          $direction: normal,
          $fill-mode: both
        );
      }
    }

    @include mq(xl) {
      flex-basis: 70px;
    }
  }

  &__body {
    flex: 1;
  }

  &__name {
    position: relative;
    overflow: hidden;
    display: inline-block;
    @include f_around(18, false, 50, 18);

    @include mq() {
      @include f_around(20, false, 70, 22);
    }

    @include mq(xl) {
      @include f_around(22, false, false, false);
    }

    & .rect {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      background: $cWhite;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
    }
  }

  &__text {
    @include f_around(12, false, false, 22.1);
    margin-top: 5px;

    @include mq() {
      @include f_around(14, false, false, 25.2);
      margin-top: 10px;
    }
  }
}

 @keyframes skill-img-hover-vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

/*--------------------------------
About
---------------------------------*/
$about-width-lg: 700px;
$about-width-xl: 850px;

.about {
  position: relative;
  min-height: 100vh;

  &__inner {
    display: grid;
    margin: 0 auto;
    gap: 3vh 0;
    grid-template-rows: minmax(150px, 1fr) 2fr;
    opacity: 0;
    transition: opacity 1s;  

    @include mq(md) {
      gap: 5vh 0;
      grid-template-rows: minmax(150px, 1fr) 3fr;
    }

    @include mq(lg) {
      grid-template-columns: 1fr $about-width-lg;
      grid-template-rows: 1fr;
      gap: 0 30px;
      max-width: 900px;
    }

    @include mq(xl) {
      grid-template-columns: 1fr $about-width-xl;
      max-width: 1150px;
    }

    &.about-inner-active {
      opacity: 1;

      & .about__img-wrapper {
        @include animation(
          $name: about-img-wrapper-animation,
          $duration: 1s,
          $timing-function: ease,
          $delay: 0s,
          $iteration-count: 1,
          $direction: normal,
          $fill-mode: forwards
        );
      }
    }
  }

  &__img {
    border-radius: 50%;

    &-wrapper {
      width: 150px;
      margin: 0 auto;
      border-radius: 50%;

      @include mq(md) {
        width: auto;
        max-width: 180px;
      }
      
      @include mq(lg) {
        max-width: 300px;
      }
    }
  }

  &__list-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%; // 高さは親のgrid-rowsで指定

    &.about-inview {
      opacity: 0;
      transition: opacity 1s;  
    }

    &.about-inview-active {
      opacity: 1;
    }

    @include mq(lg) {
      height: 60vh;
    }
  }

  &__list {
    position: absolute; // 横スクロール
    top: 0;
    left: 0;
    display: flex;
    column-gap: 60px;
    height: 100%;
  }

  &__item {
    height: 100%;
    color: $cWhite;
    background-color: rgba(125, 125, 125, 0.3);
    width: calc(100vw - 40px);
    position: relative;
    padding: 1.5vh 8vw 0;

    @include mq(md) {
      padding: 6vh 8vw 0;
    }

    @include mq(lg) {
      width: $about-width-lg; // about__innerと合わせる
      padding: 6vh 6vw 0;
    }

    @include mq(xl) {
      width: $about-width-xl; // about__innerと合わせる
    }

    &.box-shadow-active {
      animation: about-box-shadow 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &-content-number {
      font-size: 6.5rem;
      color: $cWhite;

      @include mq(md) {
        font-size: clamp(100px, 13vw, 150px); // 最小値,中間値,最大値    
      }

      &-wrapper {
        position: absolute;
        top: 25%;
        left: 5%;
        z-index: -1;

        @include mq(lg) {
          top: 35%;
          left: 15%;
        }
  
        &.content-number-wrapper-active {
          @include animation(
            $name: about-number-animation,
            $duration: 1s,
            $timing-function: ease,
            $delay: 0s,
            $iteration-count: 1,
            $direction: normal,
            $fill-mode: forwards
          );
        }
      }
    }

    &-content-title {
      @include f_around(20, 700, 100, 30);
      display: inline-block;
      position: relative;

      @include mq(md) {
        @include f_around(24, false, false, false);
      }

      @include mq(lg) {
        font-size: clamp(24px, 2.4vw, 34px); // 最小値,中間値,最大値
      }

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        width: 0;
        height: 3px;
        transform: translateX(-50%);
        transition: all 0.3s;
        background-color: $cWhite;  
      }
  
      &.underline-active::after {
        width: 100%;
      }
    }

    &-content-text {
      margin-top: 20px;
      @include f_around(12, false, false, 22.1);

      @include mq(md) {
        margin-top: 30px;
        @include f_around(18, false, false, 27);
      }

      @include mq(lg) {
        margin-top: 60px;
      }
    }

    &-content-text + &-content-text {
      margin-top: 10px;

      @include mq(md) {
        margin-top: 20px;
      }
    }
  }

  &__line {
    height: 2vh;
    width: 100%;
    background-color: rgba(125, 125, 125, 0.5);
    position: absolute;
    bottom: 5%;
    opacity: 0;
    transition: opacity 1s;

    &.line-active {
      opacity: 1;
    }
  
    &-inner {
      content: "";
      top: 0;
      left: 0;
      height: 2vh;
      background-size: 300% 100%;
      background-image: linear-gradient(
        to right,
        #6253e1,
        #852d91,
        #a3a1ff,
        #f24645
      );
    }
  }
}

 @keyframes about-img-wrapper-animation {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes about-number-animation {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateX(0);
  }
  100% {
    text-shadow: -1px 0 #555555, -2px 0 #555555, -3px 0 #555555, -4px 0 #555555, -5px 0 #555555, -6px 0 #555555, -7px 0 #555555, -8px 0 #555555;
    transform: translateX(8px);
  }
}

@keyframes about-box-shadow {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 18px 3px rgba(0, 0, 0, 0.7);
  }
}


/*--------------------------------
Contact
---------------------------------*/
.contact {
  text-align: center;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 100%;
    height: 300px;
    overflow: hidden;
  
    @include mq(lg) {
      height: 400px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: all 0.7s ease-out;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: green;
      z-index: -1;
      opacity: 0;
    }

    &.bg-active::before {
      opacity: 1;
    }
  }

  &__message {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  
  &__left, &__right {
    @include f_around(22, false, 100, false);
    color: $cWhite;
    white-space: nowrap;

    @include mq(lg) {
      @include f_around(32, false, 200, false);
    }
  }

  &__link {
    display: block;
    position: relative;
    z-index: 2;
  }
}

/*--------------------------------
ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;

  background-color: gray;

  & .material-icons-outlined {
    color: $cWhite;
    vertical-align: bottom;
  }
}

/*--------------------------------
フッター
---------------------------------*/
.footer {
  padding: 30px 0;

  @include mq() {
    padding: 40px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;

    @include mq() {
      column-gap: 40px;
    }
  }

  &__item {
    @include f_around(12, false, 100, 12);
    color: $cWhite;
    transition: .4s all cubic-bezier(0.37, 0, 0.63, 1);

    @include mq() {
      @include f_around(14, false, 150, 14);
    }

    &:hover {
      letter-spacing: 0.3em;
      opacity: 0.8;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    overflow-wrap: break-word;

    &-icon {
      position: absolute;
      font-size: 1em;
      top: 50%;
      left: -1.25em;
      transition: all 0.6s ease;
      opacity: 0;
      transform: translateX(-8px) translateY(-50%);

      &.appear.inview {
        opacity: 1;    
        transform: translateX(0) translateY(-50%);
      }
    }

    & .tween-animate-title {
      display: inline-block;
    }
  }

  &__copyright {
    margin-top: 40px;
    @include f_around(10, false, 100, 10);
    text-align: center;
    color: $cWhite;

    @include mq() {
      margin-top: 50px;
    }

    & .item {
      display: inline-block;
    }
  }
}

