@use "../globals" as *;
@use "../parts/common" as *;

/*--------------------------------
下層：Worksページ
---------------------------------*/
.works-page {
  &__list {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    
    @include mq() {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 40px;
    }
    
    background-color: brown;
  }
  
  &__item {
    background-color: blue;
    padding-bottom: 10px;

    &:hover {
      opacity: 0.9;
    }
  }

  &__img {
    border: 1px solid $cWorksBorder;
  }

  &__name {
    @include f_around(12, 700, false, false);
    margin-top: 8px;
  }

  &__info {
    @include f_around(10, false, false, false);
    margin-top: 3px;

    @include mq() {
      margin-top: 5px;
    }
  }
}