// Colors
$cWhite: #fff;
$cBlack: #000;
$cBgGray: #b4b4b44d;
$cMainPurple1: #6253e1;
$cMainPurple2: #852d91;
$cMainPurple3: #a3a1ff;
$cMainPurple4: #f24645;
$cWorksBorder: #7d7d7d;
$cBoxShadowPurple: #cf00ff;

// Width
$contentMaxWidth: 1340px;