// Colors
$cWhite: #fff;
$cBlack: #000;
$cBgGray: rgba(125, 125, 125, 0.3);
$cBgGrayHover: rgba(125, 125, 125, 0.6);
$cMainPurple1: #6253e1;
$cMainPurple2: #852d91;
$cMainPurple3: #a3a1ff;
$cMainPurple4: #f24645;
$cWorksBorder: #7d7d7d;
$cBoxShadowPurple: #cf00ff;

// Width
$contentMaxWidth: 1340px;
$about-max-width-lg: 870px;
$about-max-width-xl: 1180px;
$about-width-lg: 670px;
$about-width-xl: 900px;

// gap
$about-gap-lg: 20px;
$about-gap-xl: 30px;

//shadow
$about-box-shadow: 10px;