@use "../globals" as *;
/*--------------------------------
 全体
---------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  @include f_around(14, false, false, false);
  color: $cWhite;
  background-color: $cBlack;

  @include mq(lg) {
    @include f_around(15, false, false, false);
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: $cWhite;
}

li {
  list-style: none;
}

.sp-only {
  display: block;
  
  @include mq() {
    display: none;
  }
}

.pc-only {
  display: none;
  
  @include mq() {
    display: block;
  }
}

/*--------------------------------
 見出し
---------------------------------*/
.heading-primary {
  @include f_around(26, 700, 50, 26);
  text-align: center;

  @include mq() {
    @include f_around(34, false, false, false);
  }
}

/*--------------------------------
ボタン
---------------------------------*/
.btn {
  display: inline-block;
  position: relative;
  width: 230px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #000;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  transition: box-shadow 0.3s;
  background-color: #000;
}

.btn:hover {
  box-shadow: 0 0 18px 5px rgba(0, 255, 174, 0.6);
}

.btn--sm {
  width: 164px;
  font-size: 15px;
  padding: 15px 0;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 60px;

  @include mq() {
    padding-top: 80px;
  }
}

.section {
  padding: 60px 0;

  @include mq() {
    padding: 90px 0;
  }

  &:nth-of-type(odd) {
    background-color: $cBgGray;
  }
  
  &__body {
    margin-top: 20px;

    @include mq() {
      margin-top: 40px;
    }
  }
}

.container {
  max-width: $contentMaxWidth;
  margin: 0 auto;
  padding: 0 20px;

  @include mq() {
    padding: 0 40px;
  }
}